.cursor {
  width: 12px;
  height: 12px;
  border: 1px solid white;
  mix-blend-mode: difference;
  border-radius: 100%;
  position: absolute;
  z-index: 100;
}
.cursor.hover {
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.1);
}
.cursor:active,
.cursor.active {
  background-color: rgba(255, 255, 255, 0.5);
  width: 22px;
  height: 22px;
}
*,
*:hover {
  cursor: none;
}
@media screen and (max-device-width: 779px) {
  .cursor {
    display: none;
  }
  *,
  *:hover {
    cursor: default;
  }
}
