* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
html,
body {
  height: 100%;
}

:root {
  --white: #ffffff;
  --muteWhite: #d2ccbc;
  --black: #252525;
  --gray: #787878;
  --highlight: #ea8478;
  --footer: #f7f7f7;
}

body {
  width: 100%;
  font-family: 'PT Root UI', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--white);
  text-rendering: optimizeLegibility;
  background-color: var(--black);
}
