<div class="cursor"></div>
<div class="footer">
  <a href="https://design.hse.ru/"><div class="logo"></div></a>
  <div class="footerInfo">
    <div class="footerInfo_contacts">
      <h4>Над проектом работали</h4>
      <div class="contacts1">
        <p>Куратор дизайна плакатов:</p>
        <p>Куратор музыкальных композиций:</p>
        <p>Анимация веб-плакатов:</p>
        <p>Разработка сайта:</p>
      </div>
      <div class="contacts2">
        <p>Юрий Гулитов</p>
        <p>Евгений Вороновский</p>
        <p>Вадим Булгаков</p>
        <p>Анна Комкова</p>
      </div>
    </div>
    <div class="footerInfo_links">
      <h4>Ссылки</h4>
      <a href="https://design.hse.ru/lab/posterlab">HSE POSTER LAB</a>
      <a href="https://design.hse.ru/ba/design/programming"
        >Профиль "Дизайн и программирование"</a
      >
      <a href="https://design.hse.ru/ba/art/sound-art"
        >Направление "Саунд-арт и саунд-дизайн"</a
      >
    </div>
  </div>
</div>
